---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pagetitle = "Blogster";
---
		<BaseLayout pagetitle={pagetitle}>

			<section>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Sunt corporis soluta accusamus temporibus? Officia praesentium 
			culpa quo rem nesciunt modi id repudiandae porro placeat soluta
			provident, quam facilis? Quibusdam placeat ipsum odit, tenetur
			llat recusandae nihil numquam debitis laudantium voluptatum cum quod.
			is cumque error dolorem veniam placeat recusandae, odio ducimus laboriosam
			tam optio temporibus earum doloremque, reiciendis similique ipsam modi
			luptate aperiam ratione debitis libero saepe id, eaque omnis.
			a doloremque tenetur nobis velit debitis mollitia, quae ratione deserunt,
			beatae nostrum fuga amet doloribus tempora provident quo officia? Hic dolor,
			quibusdam quae et inventore ab iste deleniti perspiciatis itaque libero tenetur
			mollitia voluptatem deserunt in nostrum sequi odio? Hic quo pariatur in soluta
			aliquam animi sapiente exercitationem unde, ullam dolorem fugit? Dolore, porro
			repudiandae eveniet id repellat, ipsam blanditiis, magnam enim quidem molestiae 
			culpa iste maxime reiciendis. Tenetur quam unde quo exercitationem? Architecto dicta
			perspiciatis rerum explicabo amet tempora sunt nihil quasi, beatae reprehenderit facilis
			expedita aspernatur maiores aut libero vitae! Nihil voluptatibus officia, quae quod veritatis
			quas eum eos sed architecto fugit debitis. Inventore tempora saepe suscipit quibusdam provident,
			voluptatem sunt cumque in a modi, voluptas nemo veritatis expedita nobis? Animi totam reiciendis 
			perferendis eum esse qui nulla corrupti quae laborum commodi, natus hic provident molestiae cum 
			tenetur officiis tempore ipsum ipsam, iusto eos. Veniam necessitatibus ipsam tempore aut quos,
			iure nisi velit exercitationem nulla, maxime distinctio alias excepturi sit esse illum est rem hic
			quia quam cupiditate quo debitis. Dolores accusamus veniam obcaecati, deserunt quod maxime fugit
			minus laudantium earum consequatur facere in commodi, est natus at similique sequi recusandae 
			id corrupti necessitatibus illum nostrum consectetur autem. Veniam culpa optio consectetur
			molestiae esse vel dolor saepe, distinctio quibusdam mollitia, error neque, cum magni eveniet
			quos nam quod? Ab, nihil et provident nisi quos esse ea at culpa!</section>
			<br>
			<h1>Vision</h1>
			<br>
			<p>Enlightening Minds</p>
			<p>Encouraging creativity</p>
			<p>Fostering responsibility</p>
			</BaseLayout>
			
			