---
---
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/resume/">Blog</a>
<style>
    a{
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
        background-color: #4c1d95;
    }
</style>